/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.main-content {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* header stuff */

header {
    width: 100vw;
    height: 70px;
    background-color: #1a1a1a;
    display: flex;
    padding: 6px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-bottom: 1px solid #333;
}

header h1 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* sidebar project stuff */

.project-section {
    width: 20vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.772);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.side-header-container {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid white;
}

.project-section h1 {
    text-align: center;
    color: white;
}

.project-section p {
    padding: 1em;
}

.project-container {
    border-bottom: 1px solid white;
    width: 100%;
    transition: 0.5s ease background;
}

.project-container:hover {
    cursor: pointer;
    background: rgb(0, 0, 0);
}

.project-container.active {
    background: rgb(50, 50, 50); /* A distinct background color */
    border-right: 5px solid cyan; 
}

.project-container p {
    color: white;
}

.project-container, .buttons {
    padding-left: 0.8em;
}

.add-project {
    border-radius: 10px;
    border: none;
    transition: ease 0.7s border-radius, ease-in-out transform 0.3s;
    padding: 0.8em;
    margin-top: 1em;
    margin-left: 1em;
}

.add-project:hover {
    cursor: pointer;
    border-radius: 0;
    transform: scale(1.1);
}

/* main content */

main {
    background: rgba(0, 0, 0, 0.105);
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns:repeat(3, 1fr);
}

.todo-item {
    border: 2px solid black;
    border-radius: 15px;
    width: 80%;
    height: auto;
    padding: 1em;
    margin: 1em;
    transition: 0.2s ease transform, 0.2s ease background;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.todo-buttons-container {
    display: flex;
    justify-content: space-between;
}

.todo-buttons-container button {
    border-radius: 10px;
    padding: 0.4em;
    border: none;
    font-size: 1rem;
}

.todo-buttons-container button:hover {
    cursor: pointer;
}

.remove-todo {
    background: rgba(255, 0, 0, 0.651);
}

.todo-item:hover {
    transform: scale(1.03);
    background: rgba(0, 0, 0, 0.064);
}

.add-todo {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: ease 0.2s background;
}

.add-todo:hover {
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.edit-overlay {
    width: 50%;
    height: 75%;
    justify-self: center;
    align-self: center;
    padding: 2em;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 14px;
}

.edit-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40%;
}

.edit-content h1, .input, .done {
    margin: 0.2em;
    padding: 5px;
}

.input {
    font-size: 1.3rem;
}

.edit-content h1 {
    font-size: 2.6rem;
}

.done {
    border-radius: 20px;
    border: none;
    background: rgba(128, 128, 128, 0.604);
    margin-top: 5%;
    padding: 15px 10px;
    transition: 0.2s ease background, 0.2s ease color, 0.4s ease transform;
    font-size: 1.1rem;
}

.done:hover {
    background: black;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.blur {
    width: 100vw;
    height: 105vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);

}

.hidden {
    display: none;
}

.x {
    padding: 10px 15px;
    background: grey;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    position: absolute;
    top: 2%;
    left: 2%;
    transition: ease 0.2s background, ease 0.2s color, 0.4s ease transform;
}

.x:hover {
    background: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}


